<h1>Cadastre um cliente</h1>

<form action="/cliente/cad" method="POST">
  <div class="form-control">
    <label for="nome">Nome:</label>
    <input type="text" name="title" placeholder="Digite seu nome" />
    <label for="email">Email:</label>
    <input type="text" name="emial" placeholder="Digite seu email" />
    <input type="submit" value="Cadastrar" />
  </div>
</form>